{% load analytics %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}" >
<head>
	<title>{% block title %}broke.js demo{% endblock %}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="robots" content="index,follow">
	
	<meta name="author" content="Brokenseal di Callegari Davide" />
	<meta name="keywords" content="javascript broke" />
	<meta name="description" content="broke.js demo" />
	<meta name="copyright" content="2006 - {% now "Y" %} Brokenseal" />
	
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/ui-lightness/jquery-ui-1.8rc1.custom.css"/>
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/default.css"/>
    {% block extralink %}{% endblock %}
    
    <!-- dependencies -->
    <script src="{{ MEDIA_URL }}broke/dependencies/jquery-1.4.js"></script>
    <script src="{{ MEDIA_URL }}broke/dependencies/jquery.cookie.js"></script>
    <script src="{{ MEDIA_URL }}broke/dependencies/json.js"></script>
    <script src="{{ MEDIA_URL }}broke/dependencies/gettext.js"></script>
    
    <script src="{{ MEDIA_URL }}js/libs/jquery-ui-1.8rc1.custom.min.js"></script>
    <script src="{{ MEDIA_URL }}js/libs/jquery.layout.min.js"></script>
    
    <!-- layout -->
    <script src="{{ MEDIA_URL }}js/myProject/layout.js"></script>
    
    <!-- broke -->
    <script src="{{ MEDIA_URL }}broke/broke/broke-0.1.js"></script>
    
    <script src="{{ MEDIA_URL }}broke/broke/utils/utils.js"></script>
    <script src="{{ MEDIA_URL }}broke/broke/utils/functional.js"></script>
    <script src="{{ MEDIA_URL }}broke/broke/utils/translation.js"></script>
    <script src="{{ MEDIA_URL }}broke/broke/utils/decorators.js"></script>
    
    <script src="{{ MEDIA_URL }}broke/broke/core/class.js"></script>
    <script src="{{ MEDIA_URL }}broke/broke/core/exceptions.js"></script>
    <script src="{{ MEDIA_URL }}broke/broke/core/validators.js"></script>
    <script src="{{ MEDIA_URL }}broke/broke/core/urlresolvers.js"></script>
    <script src="{{ MEDIA_URL }}broke/broke/core/utils.js"></script>
    <script src="{{ MEDIA_URL }}broke/broke/core/events.js"></script>
    <script src="{{ MEDIA_URL }}broke/broke/core/utils.js"></script>
    <script src="{{ MEDIA_URL }}broke/broke/core/context_processors.js"></script>
    
    <script src="{{ MEDIA_URL }}broke/broke/core/cache/cache.js"></script>
    <script src="{{ MEDIA_URL }}broke/broke/core/cache/backends/backends.js"></script>
    <script src="{{ MEDIA_URL }}broke/broke/core/cache/backends/base.js"></script>
    <script src="{{ MEDIA_URL }}broke/broke/core/cache/backends/local_storage.js"></script>
    
    <script src="{{ MEDIA_URL }}broke/broke/utils/cache.js"></script>
    
    <script src="{{ MEDIA_URL }}broke/broke/template/template.js"></script>
    <script src="{{ MEDIA_URL }}broke/broke/template/nodes.js"></script>
    <script src="{{ MEDIA_URL }}broke/broke/template/parser.js"></script>
    <script src="{{ MEDIA_URL }}broke/broke/template/defaulttags.js"></script>
    <script src="{{ MEDIA_URL }}broke/broke/template/defaultfilters.js"></script>
    <script src="{{ MEDIA_URL }}broke/broke/template/loaders.js"></script>
    <script src="{{ MEDIA_URL }}broke/broke/template/loader.js"></script>
    
    <script src="{{ MEDIA_URL }}broke/broke/conf/settings.js"></script>
    
    <script src="{{ MEDIA_URL }}broke/broke/db/models/db.js"></script>
    <script src="{{ MEDIA_URL }}broke/broke/db/models/query.js"></script>
    <script src="{{ MEDIA_URL }}broke/broke/db/models/fields.js"></script>
    <script src="{{ MEDIA_URL }}broke/broke/db/models/manager.js"></script>
    <script src="{{ MEDIA_URL }}broke/broke/db/models/models.js"></script>
    
    <script src="{{ MEDIA_URL }}broke/broke/forms/models.js"></script>
    <script src="{{ MEDIA_URL }}broke/broke/forms/fields.js"></script>
    
    <script src="{{ MEDIA_URL }}broke/broke/shortcuts.js"></script>
    <script src="{{ MEDIA_URL }}broke/broke/locale.js"></script>
    
    <script src="{{ MEDIA_URL }}broke/broke/middleware/middleware.js"></script>
    <script src="{{ MEDIA_URL }}broke/broke/middleware/cache.js"></script>
    <script src="{{ MEDIA_URL }}broke/broke/middleware/common.js"></script>
    
    <script src="{{ MEDIA_URL }}broke/broke/templates.js"></script>
    
    <script src="{{ MEDIA_URL }}broke/broke/views/views.js"></script>
    <script src="{{ MEDIA_URL }}broke/broke/views/decorators.js"></script>
    
    <!--script src="{{ MEDIA_URL }}dist/broke-client-0.1.js"></script-->
    
    <script src="{{ MEDIA_URL }}js/myProject/my_project.js"></script>
    <script src="{{ MEDIA_URL }}js/myProject/views.js"></script>
    <script src="{{ MEDIA_URL }}js/myProject/urls.js"></script>
    
    {% block extrahead %}{% endblock %}
    {% block extrastyle %}{% endblock %}
</head>
<body>
	<div class="ui-layout-north">
		<h1 class="title grid_12">broke.js demo</h1>
		<div class="menu">
		    <a href="/">Home</a>
		    <a href="/rss_reader/">RSS Reader</a>
		    <a href="/gettext_test/">Gettext</a>
		    {% block extramenu %}{% endblock %}
		</div>
	</div>
	<div id="overlay"></div>
	{% block content %}{% endblock %}
	{% analytics %}
</body>
</html>
