{% extends "base.html" %}

{% block extrahead %}
    <script src="{{ MEDIA_URL }}js/libs/jquery.jgfeed-min.js"></script>
    <script src="{{ MEDIA_URL }}js/myProject/apps/rss_reader.js"></script>
{% endblock %}

{% block extramenu %}
	<form action="<# rss_reader-save #>" class="rss-reader-form" rel="feed">
		<label for="url">Url new feed:</label>
		<input type="text" name="feed_url" value=""/>
		<button type="submit">Add</button>
	</form>
{% endblock %}

{% block content %}
	<div class="ui-layout-west">
		<div class="toolbar">
			<a href="<# rss_reader-view_form #>">New feed</a>
		</div>
		
	    <h2>Feed list</h2>
		<ul rel="feed"></ul>
	</div>
	<div class="ui-layout-center" id="content">
		Choose a feed from the left menu.
	</div>
{% endblock %}
