{% extends "base.html" %}

{% block content %}
	<div class="ui-layout-west">
	    <h2>Entry list</h2>
		<ul rel="entry_list">
			{% for entry in object_list %}
			    <li rel="entry_{{ entry.pk }}">
		            <a href="<# entry-view {{ entry.pk }} #>" rel="title">{{ entry.title }}</a>
			    </tr>
			{% endfor %}
		</ul>
	</div>
	<div class="ui-layout-center" id="content">
		Choose an entry from the left menu.
	</div>
    <div class="ui-layout-east">
	    <form action="<# entry-create #>">
	    	{{ form.as_p }}
	        <input type="submit" value="Save it!"/>
	    </form>
    </div>
{% endblock %}
