form {
    margin-top:20px;
}
table {
    width:100%;
    border-collapse:collapse;
}
table td {
    border:1px solid #333;
    padding:4px;
}
body {
    background:url(http://demo_media.brokenseal.it/css/ui/custom/images/ui-bg_diagonals-medium_65_a6a6a6_40x40.png);
}
table input {
    width:100%;
}
input {
    width:50%;
}
textarea {
	width:50%;
	height: 100px;
}
label {
    font-weight:bolder;
    width:10em;
    margin-right: 10px;
    text-align: right;
    float: left;
    line-height: 2em;
}
.ui-layout-east label {
    font-weight:bolder;
    width:auto;
    margin-right: 0;
    text-align: left;
    float: none;
    line-height: 2em;
}
a {
    color:#f60;
    font-weight:bolder;
    text-decoration:none;
}
a:hover {
    color:#6f6f6f;
}
.container {
    width:960px;
    margin:0 auto;
    border:1px solid #f60;
    padding:20px;
    background:#fff;
}
.container {
    -moz-border-radius:10px;
}
#address_bar a {
    color:#333;
}
td.body {
    width:30%;
}
td.title {
    width:10%;
}
.ui-layout-pane {
	background: #FFF;
	border: 1px solid #BBB; 
	padding: 10px; 
	overflow: auto;
}
.ui-layout-resizer {
	background: #ddd;
}
.ui-layout-toggler {
	background: #AAA; 
}
.toolbar {
	position: absolute;
	right:10px;
	top:10px;
	width: 100px;
	border:1px solid #f60;
}
